body{
    background-color: rgba(25, 109, 120, 0.37);
}
.image{
    border: rgba(0,4,137,0.73) solid;
}
#introduction{
    color: rgba(18,23,137,0.73)
}
.text{
    color: rgba(30,37,137,0.73);
}
.text2{
    color: rgba(30, 37, 137, 0.54);
}
.text3{
    color: rgba(0, 255, 255, 0.95);
}
.text4{
    color: rgba(165, 42, 42, 0.93);
}
.text5{
    color: rgba(210, 105, 30, 0.91);
}
.text6{
    color: rgba(250, 235, 215, 0.84);
}